// UCF File from 192.168.14.134 
// This file has been exported in UTF-8 format.If you modify this file

// it should be modified with a UTF-8 compliant editor.

mfp.general.country "10"
print.blankPages "1"
PRNDARK "3"
printTimeout "90"
ports.standard.parallel.0.honorInit "0"
print.numberOfCopies "1"
print.duplex.bindingEdge "0"
language "16"
ports.standard.parallel.0.fastBytes "1"
printRecovery.pageProtect "0"
paperSource "1"
tray1.paperType "0"
//ERROR GETTING  tray2.paperType
manualPaper.paperType "0"
pcl.orientation "0"
alarm.toner "0"
menuDisable "0"
printRecovery.autoContinue "5"
fontNumber "0"
symbolSet "405"
fontSize "1200"
pcl.A4Width "198"
pcl.autoCRafterLF "0"
pcl.autoLFafterCR "0"
jobTimeout "0"
manualFeedTimeout "60"
timeout.wait "40"
postscript.printErrors "0"
printRecovery.jamRecovery "2"
ports.standard.parallel.0.smartSwitch.PS "0"
ports.standard.parallel.0.smartSwitch.PCL5 "0"
resourceSave "0"
trayRenumber "0"
ports.standard.parallel.0.advancedStatus "1"
ports.standard.parallel.0.mode2 "1"
//ERROR GETTING  tray3.paperType
substSize "3"
print.collation "1"
print.separatorSheets "0"
print.separatorSource "1"
brightness "0"
contrast "0"
colorCorrection "7"
outputBin "1"
finisher.staple "0"
offset "0"
type1Fonts "1"
MPTray.paperType "133"
//ERROR GETTING  tray4.paperType
//ERROR GETTING  tray5.paperType
plainPaper.weight "1"
plainPaper.texture "1"
roughPaper.weight "2"
colorPaper.weight "1"
colorPaper.texture "1"
transparency.weight "1"
transparency.texture "1"
cardstock.weight "1"
cardstock.texture "1"
labels.weight "1"
labels.texture "1"
letterheadPaper.weight "1"
letterheadPaper.texture "1"
prepunchedPaper.weight "1"
prepunchedPaper.texture "2"
preprintedPaper.weight "1"
preprintedPaper.texture "1"
envelope.weight "1"
envelope.texture "1"
customType1.weight "1"
customType1.texture "1"
customType1.type "0"
customType1.name ""
customType2.weight "1"
customType2.texture "1"
customType2.type "0"
customType2.name ""
customType3.weight "1"
customType3.texture "1"
customType3.type "0"
customType3.name ""
customType4.weight "1"
customType4.texture "1"
customType4.type "0"
customType4.name ""
customType5.weight "1"
customType5.texture "1"
customType5.type "0"
customType5.name ""
customType6.weight "1"
customType6.texture "1"
customType6.type "0"
customType6.name ""
manualEnvelope.paperType "8"
printPageMode "0"
ports.standard.parallel.0.PSBinaryFiltering "2"
MPFeedRenumber "0"
multiPage "0"
multiPageOrientation "99"
print.multiPage.border "0"
multiPageOrder "0"
ports.standard.usb.0.smartSwitch.PS "0"
ports.standard.usb.0.smartSwitch.PCL5 "0"
print.resolution "1"
letterheadPaper.loading "0"
preprintedPaper.loading "0"
customType1.loading "0"
customType2.loading "0"
customType3.loading "0"
customType4.loading "0"
customType5.loading "0"
customType6.loading "0"
prepunchedPaper.loading "0"
cardstock.loading "0"
labels.loading "0"
colorPaper.loading "0"
ports.standard.usb.0.PSBinaryFiltering "2"
finisher.punch "0"
ports.standard.network.0.smartSwitch.PS "0"
ports.standard.network.0.smarkSwitch.PCL5 "0"
ports.standard.network.0.interpretAsP_TCPIP "2"
ports.standard.network.0.PSBinaryFiltering "1"
pcl.linesPerPage "64"
print.darkness "7"
pseudo.fontSource "0"
universalPaper.paperWidth "183600"
universalPaper.paperHeight "302400"
universalPaper.paperOrientation "0"
holePunchMode "2"
glossyPaper.weight "1"
glossyPaper.texture "1"
glossyPaper.loading "0"
MICRJob "0"
pdf.scaleToFit "226"
pdf.orientation "226"
pdf.halfTone "227"
pdf.annotations "226"
paperCHGPromptSource "0"
ENV_CHGPromptSource "0"
confidentialJobExpire "0"
printerLockoutMaxRetry "0"
vinyllabels.weight "1"
vinyllabels.texture "1"
vinyllabels.loading "0"
linedetail "0"
pdf.autoSourceSearch "1"
lightpaper.texture "1"
lightpaper.paperloading "0"
heavypaper.papertexture "1"
heavypaper.paperloading "0"
nvEcoMode "0"
recycledpaper.paperweight "1"
recycledpaper.papertexture "1"
recycledpaper.type "0"
recycledpaper.paperloading "0"
printerRFIDTagNotify "1"
printerRFIDAutoretryCnt "0"
printerRFIDBadTagBin "254"
nvQuietMode "0"
printerRFIDMarkOnError "0"
ChgPromptSourceAction "0"
print.usbDirectLateBind.duplex "0"
print.usbDirectLateBind.duplex.bindingEdge "0"
print.usbDirectLateBind.numberOfCopies "1"
finisher.usbDirectLateBind.staple "0"
finisher.usbDirectLateBind.punch "0"
usbDirectLateBind.holePunchMode "1"
print.usbDirectLateBind.blankPages "1"
print.usbDirectLateBind.collation "1"
print.usbDirectLateBind.separatorSheets "0"
print.usbDirectLateBind.separatorSource "1"
print.usbDirectLateBind.multiPage.border "0"
usbDirectLateBind.offset "0"
supplies.blackCart.earlyWarning.behavior "0"
supplies.blackCart.nearlyLow.behavior "0"
supplies.blackCart.LowBehavior "2"
supplies.blackCart.nearEndOfLife.behavior "2"
supplies.blackCart.endOfLife.behavior "4"
supplies.blackCart.earlyWarning.level "50"
supplies.blackCart.nearlyLow.level "30"
supplies.blackCart.nearEndOfLife.level "10"
supplies.cyanCart.earlyWarning.behavior "0"
supplies.cyanCart.nearlyLow.behavior "0"
supplies.cyanCart.LowBehavior "2"
supplies.cyanCart.nearEndOfLife.behavior "2"
supplies.cyanCart.endOfLife.behavior "4"
supplies.cyanCart.earlyWarning.level "40"
supplies.cyanCart.nearlyLow.level "10"
supplies.cyanCart.nearEndOfLife.level "10"
supplies.magentaCart.earlyWarning.behavior "0"
supplies.magentaCart.nearlyLow.behavior "0"
supplies.magentaCart.LowBehavior "2"
supplies.magentaCart.nearEndOfLife.behavior "0"
supplies.magentaCart.endOfLife.behavior "0"
supplies.magentaCart.earlyWarning.level "40"
supplies.magentaCart.nearlyLow.level "30"
supplies.magentaCart.nearEndOfLife.level "10"
supplies.yellowCart.earlyWarning.behavior "0"
supplies.yellowCart.nearlyLow.behavior "0"
supplies.yellowCart.LowBehavior "2"
supplies.yellowCart.nearEndOfLife.behavior "0"
supplies.yellowCart.endOfLife.behavior "0"
supplies.yellowCart.earlyWarning.level "40"
supplies.yellowCart.nearlyLow.level "30"
supplies.yellowCart.nearEndOfLife.level "10"
supplies.blackPC.earlyWarning.behavior "0"
supplies.blackPC.nearlyLow.behavior "0"
supplies.blackPC.LowBehavior "3"
supplies.blackPC.nearEndOfLife.behavior "0"
supplies.blackPC.endOfLife.behavior "4"
supplies.blackPC.earlyWarning.level "40"
supplies.blackPC.nearlyLow.level "30"
supplies.blackPC.nearEndOfLife.level "10"
supplies.cyanPC.earlyWarning.behavior "0"
supplies.cyanPC.nearlyLow.behavior "0"
supplies.cyanPC.LowBehavior "3"
supplies.cyanPC.nearEndOfLife.behavior "0"
supplies.cyanPC.endOfLife.behavior "4"
supplies.cyanPC.earlyWarning.level "40"
supplies.cyanPC.nearlyLow.level "30"
supplies.cyanPC.nearEndOfLife.level "10"
supplies.magentaPC.earlyWarning.behavior "0"
supplies.magentaPC.nearlyLow.behavior "0"
supplies.magentaPC.LowBehavior "3"
supplies.magentaPC.nearEndOfLife.behavior "0"
supplies.magentaPC.endOfLife.behavior "4"
supplies.magentaPC.earlyWarning.level "40"
supplies.magentaPC.nearlyLow.level "30"
supplies.magentaPC.nearEndOfLife.level "10"
supplies.yellowPC.earlyWarning.behavior "0"
supplies.yellowPC.nearlyLow.behavior "0"
supplies.yellowPC.LowBehavior "3"
supplies.yellowPC.nearEndOfLife.behavior "0"
supplies.yellowPC.endOfLife.behavior "4"
supplies.yellowPC.earlyWarning.level "40"
supplies.yellowPC.nearlyLow.level "30"
supplies.yellowPC.nearEndOfLife.level "10"
supplies.fuser.earlyWarning.behavior "0"
supplies.fuser.nearlyLow.behavior "0"
supplies.fuser.LowBehavior "0"
supplies.fuser.nearEndOfLife.behavior "0"
supplies.fuser.endOfLife.behavior "0"
supplies.fuser.earlyWarning.level "40"
supplies.fuser.nearlyLow.level "30"
supplies.fuser.nearEndOfLife.level "10"
supplies.maintenance.earlyWarning.behavior "0"
supplies.maintenance.nearlyLow.behavior "0"
supplies.maintenance.LowBehavior "0"
supplies.maintenance.nearEndOfLife.behavior "2"
supplies.maintenance.endOfLife.behavior "2"
supplies.maintenance.earlyWarning.level "40"
supplies.maintenance.nearlyLow.level "10"
supplies.maintenance.nearEndOfLife.level "10"
supplies.itm.earlyWarning.behavior "0"
supplies.itm.nearlyLow.behavior "0"
supplies.itm.LowBehavior "3"
supplies.itm.nearEndOfLife.behavior "0"
supplies.itm.endOfLife.behavior "4"
supplies.itm.earlyWarning.level "40"
supplies.itm.nearlyLow.level "30"
supplies.itm.nearEndOfLife.level "10"
supplies.oilRoller.earlyWarning.behavior "0"
supplies.oilRoller.nearlyLow.behavior "0"
supplies.oilRoller.LowBehavior "3"
supplies.oilRoller.nearEndOfLife.behavior "0"
supplies.oilRoller.endOfLife.behavior "4"
supplies.oilRoller.earlyWarning.level "40"
supplies.oilRoller.nearlyLow.level "30"
supplies.oilRoller.nearEndOfLife.level "10"
supplies.Supply12.earlyWarning.behavior "0"
supplies.Supply12.nearlyLow.behavior "0"
supplies.Supply12.LowBehavior "3"
supplies.Supply12.nearEndOfLife.behavior "0"
supplies.Supply12.endOfLife.behavior "4"
supplies.Supply12.earlyWarning.level "40"
supplies.Supply12.nearlyLow.level "30"
supplies.Supply12.nearEndOfLife.level "10"
heavycardPaper.loading "0"
roughenvelopePaper.weight "2"
roughenvelopePaper.loading "0"
heavycottonPaper.loading "0"
veryheavyPaper.loading "0"
heavyglossyPaper.texture "1"
heavyglossyPaper.loading "0"
rfidlabelsPaper.loading "0"
roughPaper.loading "0"
usbDirectLateBind.paperSource "1"
jobParkEnabled "0"
jobParkFaxEnabled "0"
jobParkTimeout "30"
diskWipeAutomaticStyle "0"
usbDirectLateBind.colorModel "0"
outputLightingStdBinReady "2"
tonerAlarmSound "0"
pixelBoost "0"
outputLightingStdBinPowerSav "1"
outputLightingOptBinReady "2"
outputLightingOptBinPowerSav "1"
pseudo.fontSourceXtra "0"
pelBlurring "0"
manualEnvelope.paperSize "88"
bestSpeed "0"
spotColor1C "0"
spotColor2C "0"
spotColor3C "0"
spotColor4C "0"
spotColor5C "0"
spotColor6C "0"
spotColor7C "0"
spotColor8C "0"
spotColor9C "0"
spotColor10C "0"
spotColor11C "0"
spotColor12C "0"
spotColor13C "0"
spotColor14C "0"
spotColor15C "0"
spotColor16C "0"
spotColor17C "0"
spotColor18C "0"
spotColor19C "0"
spotColor20C "0"
spotColor1M "0"
spotColor2M "0"
spotColor3M "0"
spotColor4M "0"
spotColor5M "0"
spotColor6M "0"
spotColor7M "0"
spotColor8M "0"
spotColor9M "0"
spotColor10M "0"
spotColor11M "0"
spotColor12M "0"
spotColor13M "0"
spotColor14M "0"
spotColor15M "0"
spotColor16M "0"
spotColor17M "0"
spotColor18M "0"
spotColor19M "0"
spotColor20M "0"
spotColor1Y "0"
spotColor2Y "0"
spotColor3Y "0"
spotColor4Y "0"
spotColor5Y "0"
spotColor6Y "0"
spotColor7Y "0"
spotColor8Y "0"
spotColor9Y "0"
spotColor10Y "0"
spotColor11Y "0"
spotColor12Y "0"
spotColor13Y "0"
spotColor14Y "0"
spotColor15Y "0"
spotColor16Y "0"
spotColor17Y "0"
spotColor18Y "0"
spotColor19Y "0"
spotColor20Y "0"
spotColor1K "0"
spotColor2K "0"
spotColor3K "0"
spotColor4K "0"
spotColor5K "0"
spotColor6K "0"
spotColor7K "0"
spotColor8K "0"
spotColor9K "0"
spotColor10K "0"
spotColor11K "0"
spotColor12K "0"
spotColor13K "0"
spotColor14K "0"
spotColor15K "0"
spotColor16K "0"
spotColor17K "0"
spotColor18K "0"
spotColor19K "0"
spotColor20K "0"
spotColorName1 ""
spotColorName2 ""
spotColorName3 ""
spotColorName4 ""
spotColorName5 ""
spotColorName6 ""
spotColorName7 ""
spotColorName8 ""
spotColorName9 ""
spotColorName10 ""
spotColorName11 ""
spotColorName12 ""
spotColorName13 ""
spotColorName14 ""
spotColorName15 ""
spotColorName16 ""
spotColorName17 ""
spotColorName18 ""
spotColorName19 ""
spotColorName20 ""
jaEnabled "0"
jaFrequency "1"
jaNearFullLvl "5"
jaPostURL ""
jaEmailAddress ""
jaFreqAction "0"
jaNearFullAction "0"
jaMediaFullAction "0"
jaLogPrefix ""
//ERROR GETTING  nvLedErrorLighting
nvLedOutputLighting "2"
nvPressSleepButton "1"
nvPressAndHoldSleepButton "0"
nvMIBversion "1.0.0"
nvMIBSupportLevel "48"
nvEnableCopyDeskew "2"
nvEnableHaptics "1"
nvEnableFaxDeskew "2"
nvEnableFTPDeskew "2"
nvEnableEmailDeskew "2"
nvEnableDocumentDeskew "2"
nvEnableUSBDeskew "2"
UCF_BUTTON_FEEDBACK "1"
UCF_DEVICE_VOLUME "4"
nvAlwaysDisplayErrorScreens "1"
nvTonerType "0"
repeatJobExpire "0"
verifyJobExpire "0"
reserveJobExpire "0"
DEFAULT_ADF_MEDIA_TYPE "0"
nvFuserSpeed "0"
nvServiceErrorRebootCountMax "2"
nvServiceErrorRebootMode "1"
nvServiceErrorRebootWindowMax "720"
nvA5Loading "0"
nvFontDensity "3"
nvHibernateTimeout "7"
nvHibernateTimeoutOverride "0"
nvJamAssist "1"
nvSafeMode "0"
nvOemMfgShortName "Lexmark"
nvOemMfgLongName "Lexmark"
nvPagesRemainingDisplay "1"
nvAccessibilityTimeoutExtension "0"
supplies.blackCart.low.level "10"
supplies.cyanCart.low.level "5"
supplies.magentaCart.low.level "20"
supplies.yellowCart.low.level "20"
supplies.blackPC.low.level "20"
supplies.cyanPC.low.level "20"
supplies.magentaPC.low.level "20"
supplies.yellowPC.low.level "20"
supplies.fuser.low.level "20"
supplies.maintenance.low.level "5"
supplies.itm.low.level "20"
supplies.oilRoller.low.level "20"
supplies.Supply12.low.level "20"
jaNearFullLvlUserFlash "5"
sleepTimeOutOverrideAlgeria "65535"
sleepTimeOutOverrideArgentina "65535"
sleepTimeOutOverrideAustralia "65535"
sleepTimeOutOverrideAustria "65535"
sleepTimeOutOverrideBangladesh "65535"
sleepTimeOutOverrideBelgium "65535"
sleepTimeOutOverrideBolivia "65535"
sleepTimeOutOverrideBrazil "65535"
sleepTimeOutOverrideBulgaria "65535"
sleepTimeOutOverrideCanada "65535"
sleepTimeOutOverrideChile "65535"
sleepTimeOutOverrideColumbia "65535"
sleepTimeOutOverrideCostaRica "65535"
sleepTimeOutOverrideCroatia "65535"
sleepTimeOutOverrideCyprus "65535"
sleepTimeOutOverrideCzechRepublic "65535"
sleepTimeOutOverrideDenmark "65535"
sleepTimeOutOverrideDominicanRepublic "65535"
sleepTimeOutOverrideEcuador "65535"
sleepTimeOutOverrideEgypt "65535"
sleepTimeOutOverrideElSalvador "65535"
sleepTimeOutOverrideEstonia "65535"
sleepTimeOutOverrideFinland "65535"
sleepTimeOutOverrideFrance "65535"
sleepTimeOutOverrideGermany "65535"
sleepTimeOutOverrideGreece "65535"
sleepTimeOutOverrideGuam "65535"
sleepTimeOutOverrideGuatemala "65535"
sleepTimeOutOverrideHonduras "65535"
sleepTimeOutOverrideHongKong "65535"
sleepTimeOutOverrideHungary "65535"
sleepTimeOutOverrideIceland "65535"
sleepTimeOutOverrideIndia "65535"
sleepTimeOutOverrideIndonesia "65535"
sleepTimeOutOverrideIreland "65535"
sleepTimeOutOverrideIsrael "65535"
sleepTimeOutOverrideItaly "65535"
sleepTimeOutOverrideJapan "65535"
sleepTimeOutOverrideKorea "65535"
sleepTimeOutOverrideKuwait "65535"
sleepTimeOutOverrideLatvia "65535"
sleepTimeOutOverrideLeichtenstein "65535"
sleepTimeOutOverrideLithuania "65535"
sleepTimeOutOverrideLuxembourg "65535"
sleepTimeOutOverrideMalaysia "65535"
sleepTimeOutOverrideMalta "65535"
sleepTimeOutOverrideMexico "65535"
sleepTimeOutOverrideMorocco "65535"
sleepTimeOutOverrideNetherlandsHolland "65535"
sleepTimeOutOverrideNewZealand "65535"
sleepTimeOutOverrideNicaragua "65535"
sleepTimeOutOverrideNigeria "65535"
sleepTimeOutOverrideNorway "65535"
sleepTimeOutOverridePanama "65535"
sleepTimeOutOverrideParaguay "65535"
sleepTimeOutOverridePeru "65535"
sleepTimeOutOverridePhilippines "65535"
sleepTimeOutOverridePoland "65535"
sleepTimeOutOverridePortugal "65535"
sleepTimeOutOverridePuertoRico "65535"
sleepTimeOutOverrideQatar "65535"
sleepTimeOutOverrideRomania "65535"
sleepTimeOutOverrideRussia "65535"
sleepTimeOutOverrideSaudiArabia "65535"
sleepTimeOutOverrideMontenegro "65535"
sleepTimeOutOverrideSerbia "65535"
sleepTimeOutOverrideSenegal "65535"
sleepTimeOutOverrideSingapore "65535"
sleepTimeOutOverrideSlovakia "65535"
sleepTimeOutOverrideSlovania "65535"
sleepTimeOutOverrideSouthAfrica "65535"
sleepTimeOutOverrideSpain "65535"
sleepTimeOutOverrideSriLanka "65535"
sleepTimeOutOverrideSweden "65535"
sleepTimeOutOverrideSwitzerland "65535"
sleepTimeOutOverrideTaiwan "65535"
sleepTimeOutOverrideThailand "65535"
sleepTimeOutOverrideTunisia "65535"
sleepTimeOutOverrideTurkey "65535"
sleepTimeOutOverrideUAE "65535"
sleepTimeOutOverrideUkraine "65535"
sleepTimeOutOverrideUnitedKingdom "65535"
sleepTimeOutOverrideUnitedStates "65535"
sleepTimeOutOverrideUruguay "65535"
sleepTimeOutOverrideVenezuela "65535"
sleepTimeOutOverrideVietnam "65535"
sleepTimeOutOverrideVirginIslands "65535"
sleepTimeOutOverrideAlbania "65535"
sleepTimeOutOverrideMacedonia "65535"
sleepTimeOutOverridePRC "65535"
offset.support "2"
offset.mode "2"
timemgr.timezone "18"
timemgr.dst "1"
timemgr.timesource "0"
timemgr.ntpserver "192.168.200.55"
timemgr.ntpbroadcast "0"
nvVNCEnabled "0"
nvVNCAuthenticationType "1"
nvVNCUseSecurity "0"
nvA4Fuser "0"
nvEnableUIIfWakeDueToPort "0"
nvScanLedType "0"
dcs.optinLevel "0"
dcs.quietPeriodStart "0"
dcs.quietPeriodStop "0"
cms.enable "1"
mfp.general.settingsTimeout "30"
mfp.general.dateFormat "1"
mfp.ldap.serverAddress ""
mfp.ldap.serverPort "389"
mfp.ldap.searchBase ""
mfp.ldap.userIdAttribute "cn"
mfp.ldap.searchTimeout "30"
mfp.ldap.maxSearchResults "100"
mfp.ldap.mfpDN ""
mfp.scanner.edgeErase.adf "3"
mfp.scanner.edgeErase.flatbed "3"
mfp.copy.numberOfCopies "1"
mfp.copy.contentType "1"
mfp.copy.nUp "0"
mfp.copy.nUpBorder "false"
mfp.copy.duplex "0"
mfp.copy.collate "1"
mfp.copy.holePunch "0"
mfp.copy.darkness "5"
mfp.copy.transparencySeparators "true"
mfp.copy.separatorSheets "0"
mfp.copy.separatorSource "1"
mfp.copy.scanQuality "0"
mfp.copy.priorityCopies "true"
mfp.copy.messageOverlay "0"
mfp.copy.customMessageOverlay ""
mfp.copy.paperSource "1"
mfp.copy.memoryReserve "26214400"
mfp.copy.printDuplex "0"
mfp.fax.speakerMode "2"
mfp.fax.ringerVolume "4"
mfp.fax.mode "2"
mfp.fax.detectEOLS "3"
mfp.fax.autoPrintT30Logs "false"
mfp.fax.enableManualFax "false"
mfp.fax.memoryUse "2"
mfp.fax.allowCancel "0"
mfp.fax.stationID "1"
mfp.fax.send.resolution "0"
mfp.fax.send.contentType "0"
mfp.fax.send.dialingMode "0"
mfp.fax.send.behindPABX "false"
mfp.fax.send.autoRedial "5"
mfp.fax.send.redialFrequency "3"
mfp.fax.send.darkness "5"
mfp.fax.send.dialingPrefix ""
mfp.fax.send.enableECM "true"
mfp.fax.send.enableDriverFax "true"
mfp.fax.send.enableScanFax "true"
mfp.fax.send.allowSave "true"
mfp.fax.receive.enableFaxReceive "true"
mfp.fax.receive.ringsToAnswer "3"
mfp.fax.receive.autoReduction "true"
mfp.fax.receive.enableSingleRing "true"
mfp.fax.receive.enableDoubleRing "true"
mfp.fax.receive.enableTripleRing "true"
mfp.fax.receive.paperSource "0"
mfp.fax.receive.printDuplex "false"
mfp.fax.logs.transmissionLog "0"
mfp.fax.logs.receiveErrorLog "1"
mfp.fax.logs.autoPrintLogs "true"
mfp.fax.logs.enableSendLog "true"
mfp.fax.logs.enableReceiveLog "true"
mfp.fax.logs.sendLogDisplays "0"
mfp.fax.logs.paperSource "1"
mfp.email.primarySMTPServer ""
mfp.email.primarySMTPPort "25"
mfp.email.secondarySMTPServer ""
mfp.email.secondarySMTPPort "25"
mfp.email.smtpTimeout "30"
mfp.email.replyAddress ""
mfp.email.subject ""
mfp.email.message ""
mfp.email.attachmentType "0"
mfp.email.webLinkServer ""
mfp.email.webLinkLogin ""
mfp.email.webLinkFileName "image"
mfp.email.webLinkURL ""
mfp.email.webLinkPath "/"
mfp.networkScan.enableFTP "true"
mfp.email.smtp.username ""
mfp.email.smtp.authenticationRequired "0"
mfp.networkScan.fileFormat "2"
mfp.networkScan.color "1"
mfp.networkScan.resolution "150"
mfp.networkScan.darkness "5"
mfp.networkScan.jpegQuality "-1"
mfp.networkScan.scanQuality "0"
mfp.networkScan.originalOrientation "0"
mfp.networkScan.contentType "1"
mfp.networkScan.scanDuplex "0"
mfp.networkScan.multiPageTiff "true"
mfp.networkScan.printErrorLogs "true"
mfp.networkScan.printFTPConfirmationPage "true"
mfp.networkScan.logPaperSource "1"
mfp.networkScan.printScanLogs "0"
mfp.faxServer.toFormat ""
mfp.faxServer.replyAddress ""
mfp.faxServer.subject ""
mfp.faxServer.message ""
mfp.faxServer.fileFormat "2"
mfp.faxServer.originalOrientation "0"
mfp.faxServer.multiPageTiff "true"
mfp.shadowSettings.print.tray1Renumber "200"
mfp.shadowSettings.print.tray2Renumber "200"
mfp.shadowSettings.print.mpfeederRenumber "200"
mfp.shadowSettings.print.manualPaperRenumber "200"
mfp.shadowSettings.print.manualEnvelopeRenumber "200"
mfp.shadowSettings.printer.powerSaver "15"
mfp.fax.debugMask "1431655765"
mfp.fax.receive.mailboxMode "0"
mfp.fax.receive.mode "0"
mfp.fax.receive.forwarding.shortcut ""
mfp.fax.send.scanDuplex "0"
mfp.fax.send.originalBinding "2"
mfp.fax.orientation "0"
mfp.scanner.scansource "2"
mfp.fax.receive.junkfax.blockNoId "false"
mfp.fax.forwarding.destination "0"
mfp.fax.forwarding.ldss.server ""
mfp.fax.forwarding.ldss.script ""
mfp.fax.receive.allowV34 "true"
mfp.fax.receive.allowV17 "true"
mfp.fax.receive.allowV29 "true"
mfp.fax.receive.allowV27 "true"
mfp.fax.send.allowV34 "true"
mfp.fax.send.allowV17 "true"
mfp.fax.send.allowV29 "true"
mfp.fax.send.allowV27 "true"
mfp.fax.send.maxspeed "0"
mfp.fax.receive.maxspeed "0"
mfp.copy.createBooklet "2"
mfp.copy.customJob "false"
mfp.copy.orientation "0"
mfp.copy.originalDuplex "0"
mfp.fax.receive.enablefooter "false"
mfp.fax.forwarding.ldss.fileFormat "2"
mfp.networkScan.pdfVersion "3"
mfp.email.limitDestinations ""
mfp.copy.autoSizeMatch "false"
mfp.fax.forwarding.useSubaddress "true"
mfp.ftpScan.fileFormat "2"
mfp.ftpScan.color "1"
mfp.ftpScan.resolution "150"
mfp.ftpScan.darkness "5"
mfp.ftpScan.originalOrientation "0"
mfp.ftpScan.contentType "1"
mfp.ftpScan.printScanLogs "0"
mfp.fax.customJob "false"
mfp.email.customJob "false"
mfp.ftp.customJob "false"
mfp.email.bitDepth "8"
mfp.ftp.bitDepth "8"
mfp.general.keyboardType "11"
mfp.general.allowCustomJobScans "true"
mfp.general.timeFormat "1"
mfp.fax.receive.blockedNumbers ""
mfp.general.screenBrightness "100"
mfp.scan.scanPreview "false"
mfp.ftpScan.logPaperSource "1"
mfp.ftpScan.jpegQuality "-1"
mfp.ftpScan.photojpegQuality "50"
mfp.fax.old.countryCode "10"
mfp.ldap.SSL_TLS "0"
mfp.ldap.GSSAPI "false"
mfp.ldap.displayedName "0"
mfp.ldap.mail "mail"
mfp.ldap.faxAttribute "facsimiletelephonenumber"
mfp.ldap.defaultNTDomain ""
mfp.security.formsAccess "0"
mfp.networkScan.photojpegQuality "50"
mfp.networkScan.originalBinding "2"
mfp.networkScan.baseFileName "image"
mfp.fax.pulseDialType "0"
mfp.networkScan.sendMeCopy "0"
mfp.networkScan.maxEmailSize "0"
mfp.networkScan.emailSizeErrorMsg ""
mfp.scanner.jamRecovery "0"
mfp.scanToUsbDrive.customJob "false"
les.applications.enable "1"
mfp.ldap.search.mailAttribute "false"
mfp.ldap.search.faxAttribute "false"
mfp.ldap.search.cn "true"
mfp.ldap.search.sn "true"
mfp.ldap.search.givenName "true"
mfp.ldap.search.samaccountname "true"
mfp.ldap.search.userDefined1 "false"
mfp.ldap.search.userDefined2 "false"
mfp.ldap.search.userDefined3 "false"
mfp.ldap.search.userDefinedString1 ""
mfp.ldap.search.userDefinedString2 ""
mfp.ldap.search.userDefinedString3 ""
mfp.ldap.search.oc.person "true"
mfp.ldap.search.oc.userDefined1 "false"
mfp.ldap.search.oc.userDefined2 "false"
mfp.ldap.search.oc.userDefined3 "false"
mfp.ldap.search.oc.userDefinedString1 ""
mfp.ldap.search.oc.userDefinedString2 ""
mfp.ldap.search.oc.userDefinedString3 ""
mfp.ldap.kerberos.username ""
mfp.fax.speakerVolume "1"
mfp.ldap.anonymousBind "true"
mfp.copy.backgroundRemoval "0"
mfp.copy.contrast "-1"
mfp.copy.shadowDetail "0"
mfp.copy.edgeToEdge "false"
mfp.fax.send.backgroundRemoval "0"
mfp.fax.send.contrast "-1"
mfp.fax.send.shadowDetail "0"
mfp.fax.send.edgeToEdge "false"
mfp.networkScan.backgroundRemoval "0"
mfp.networkScan.contrast "-1"
mfp.networkScan.shadowDetail "0"
mfp.networkScan.edgeToEdge "false"
mfp.ftpScan.backgroundRemoval "0"
mfp.ftpScan.contrast "-1"
mfp.ftpScan.shadowDetail "0"
mfp.ftpScan.edgeToEdge "false"
mfp.scanToUsbDrive.backgroundRemoval "0"
mfp.scanToUsbDrive.contrast "-1"
mfp.scanToUsbDrive.shadowDetail "0"
mfp.scanToUsbDrive.edgeToEdge "false"
mfp.copy.outputBin "1"
mfp.email.allowSaveAsShortcut "true"
mfp.ftp.allowSaveAsShortcut "true"
mfp.email.logOutputBin "1"
mfp.ftp.logOutputBin "1"
mfp.ftpScan.scanDuplex "0"
mfp.ftpScan.pdfVersion "3"
mfp.fax.logs.logOutputBin "1"
mfp.keyboard.keyRepeatInitialDelay "100"
mfp.keyboard.keyRepeatRate "300"
mfp.shadowSettings.printer.standbyMode "15"
mfp.ui.showBookmarks "true"
les.restoreFactoryDefaults "false"
mfp.networkScan.scanPCPortRange "9751:12000"
mfp.general.units "1"
mfp.fax.serialDebugMask "0"
mfp.general.customKey1 ".com"
mfp.general.customKey2 ".org"
mfp.ldap.search.uid "false"
mfp.fax.receive.OutputBin "1"
mfp.general.operationHourDisable "0"
mfp.email.scanPreview "false"
mfp.fax.send.scanPreview "false"
mfp.ftp.scanPreview "false"
mfp.scanToUsbDrive.scanPreview "false"
mfp.scanner.jamAlert "0"
mfp.ui.home.showNetworkInfo "true"
mfp.fax.callerId.pattern "1"
mfp.copy.overlayAvailable "true"
mfp.copy.tiledOverlay "false"
mfp.ui.home.accentTab "true"
mfp.ui.home.russoPolishTab "true"
mfp.ui.home.koreanTab "true"
mfp.ui.home.chineseTab "true"
mfp.scanToUsbDrive.bitDepth "8"
mfp.scanToUsbDrive.photojpegQuality "50"
mfp.general.leftSide "1"
mfp.general.rightSide "5"
mfp.general.customText1 ""
mfp.general.customText2 ""
mfp.general.allowBackgroundRemoval "true"
mfp.ldap.tls_reqcert "2"
mfp.scanToDoc.fileFormat "2"
mfp.scanToDoc.color "0"
mfp.scanToDoc.resolution "150"
mfp.scanToDoc.darkness "5"
mfp.scanToDoc.originalOrientation "0"
mfp.scanToDoc.originalSize "0"
mfp.scanToDoc.contentType "1"
mfp.scanToDoc.customJob "false"
mfp.scanToDoc.backgroundRemoval "0"
mfp.scanToDoc.contrast "-1"
mfp.scanToDoc.shadowDetail "0"
mfp.scanToDoc.edgeToEdge "false"
mfp.scanToDoc.scanDuplex "0"
mfp.scanToDoc.pdfVersion "3"
mfp.scanToDoc.photojpegQuality "50"
mfp.scanToDoc.jpegQuality "-1"
mfp.scanToDoc.scanPreview "false"
mfp.scanToDoc.scanQuality "0"
mfp.scanToDoc.multiPageTiff "true"
mfp.scanToDoc.originalBinding "2"
mfp.copy.enableEdgeToEdge "false"
mfp.scanToDoc.bitDepth "8"
mfp.fax.send.CoverPageTo ""
mfp.fax.send.CoverPageFrom ""
mfp.fax.send.CoverPageMessage ""
mfp.fax.send.CoverPageFooter ""
mfp.fax.receive.holePunch "0"
mfp.copy.colorBalance.red "0"
mfp.copy.colorBalance.green "0"
mfp.copy.colorBalance.blue "0"
mfp.networkScan.emailFileName "image"
mfp.copy.mirrorImage "false"
mfp.copy.negativeImage "false"
mfp.fax.send.mirrorImage "false"
mfp.fax.send.negativeImage "false"
mfp.networkScan.mirrorImage "false"
mfp.networkScan.negativeImage "false"
mfp.ftpScan.mirrorImage "false"
mfp.ftpScan.negativeImage "false"
mfp.fax.receive.enableAutoAnswer "true"
mfp.fax.receive.manualAnswerCode "*9*"
mfp.securityAudit.remoteSyslogOnOff "0"
mfp.securityAudit.remoteSyslogServerAddress ""
mfp.securityAudit.remoteSyslogServerPort "514"
mfp.securityAudit.remoteSyslogMethod "0"
mfp.securityAudit.remoteSyslogFacility "4"
mfp.securityAudit.logFullBehavior "0"
mfp.securityAudit.adminEmailAddress ""
mfp.securityAudit.digitallySignExports "0"
mfp.fax.numberMasking "0"
mfp.security.usbPortSchedule "false"
mfp.email.enableCcBcc "false"
mfp.copy.autoCenter "false"
mfp.fax.send.CoverPageFooter2 ""
mfp.fax.send.CoverPage "0"
mfp.fax.send.includeToField "false"
mfp.fax.send.includeFromField "false"
mfp.fax.send.includeMsgField "false"
mfp.fax.send.includeLogoField "false"
mfp.fax.send.includeFooter1 "false"
mfp.fax.send.includeFooter2 "false"
mfp.security.usbPortLock "0"
mfp.email.useSystemCredentials "0"
mfp.email.smtp.credentialsPrompts "0"
mfp.email.smtp.protocolSecurity "0"
mfp.email.smtp.ntlmDomain ""
mfp.email.smtp.kerberos5Realm ""
mfp.copy.sharpness "3"
mfp.fax.send.sharpness "3"
mfp.networkScan.sharpness "3"
mfp.ftp.sharpness "3"
mfp.scanToUsbDrive.sharpness "3"
mfp.scantodoc.sharpness "3"
mfp.copy.colorDropout "0"
mfp.fax.send.colorDropout "0"
mfp.networkScan.colorDropout "0"
mfp.ftp.colorDropout "0"
mfp.scan2usb.colorDropout "0"
mfp.scanToDoc.colorDropout "0"
mfp.fax.send.colorDropoutRedThreshold "128"
mfp.fax.send.colorDropoutGreenThreshold "128"
mfp.fax.send.colorDropoutBlueThreshold "128"
mfp.networkScan.colorDropoutRedThreshold "128"
mfp.networkScan.colorDropoutGreenThreshold "128"
mfp.networkScan.colorDropoutBlueThreshold "128"
mfp.ftp.colorDropoutRedThreshold "128"
mfp.ftp.colorDropoutGreenThreshold "128"
mfp.ftp.colorDropoutBlueThreshold "128"
mfp.scan2usb.colorDropoutRedThreshold "128"
mfp.scan2usb.colorDropoutGreenThreshold "128"
mfp.scan2usb.colorDropoutBlueThreshold "128"
mfp.scanToDoc.colorDropoutRedThreshold "128"
mfp.scanToDoc.colorDropoutGreenThreshold "128"
mfp.scanToDoc.colorDropoutBlueThreshold "128"
mfp.fax.digitsToMask "0"
mfp.securityAudit.loggingOnOff "0"
mfp.securityAudit.logAtSeverityLevel "4"
mfp.securityAudit.remoteSyslogBelowSeverityLevel "0"
mfp.securityAudit.emailAlertCleared "0"
mfp.securityAudit.emailAlertWrap "0"
mfp.securityAudit.emailAlertXFull "0"
mfp.securityAudit.emailAlertXFullX "90"
mfp.securityAudit.emailAlertExport "0"
mfp.securityAudit.emailAlertSettingChange "0"
mfp.securityAudit.exportLineEnding "0"
mfp.scanToUsbDrive.mirrorImage "false"
mfp.scanToUsbDrive.negativeImage "false"
mfp.scanToDoc.mirrorImage "false"
mfp.scanToDoc.negativeImage "false"
mfp.ui.home.switchLanguage "false"
mfp.scanner.scannerDisabled "0"
mfp.fax.send.enableAutoImageConversion "true"
mfp.fax.receive.enableColorFax "true"
mfp.fax.send.textQuality "75"
mfp.fax.send.photoQuality "50"
mfp.fax.send.mixedQuality "75"
mfp.general.enableCompositeUsb "true"
mfp.ui.copy.actionButtonText ""
mfp.ui.email.actionButtonText ""
mfp.ui.fax.actionButtonText ""
mfp.ui.ftp.actionButtonText ""
mfp.ui.scantodoc.actionButtonText ""
mfp.ui.usb.actionButtonText ""
mfp.general.onePageCopy "false"
mfp.scan.customSize.width1 "183600"
mfp.scan.customSize.height1 "302400"
mfp.scan.customSize.orientation1 "0"
mfp.scan.customSize.concatenation1 "false"
mfp.scan.customSize.width2 "183600"
mfp.scan.customSize.height2 "302400"
mfp.scan.customSize.orientation2 "0"
mfp.scan.customSize.concatenation2 "false"
mfp.scan.customSize.width3 "183600"
mfp.scan.customSize.height3 "302400"
mfp.scan.customSize.orientation3 "0"
mfp.scan.customSize.concatenation3 "false"
mfp.scan.customSize.width4 "183600"
mfp.scan.customSize.height4 "302400"
mfp.scan.customSize.orientation4 "0"
mfp.scan.customSize.concatenation4 "false"
mfp.scan.customSize.width5 "183600"
mfp.scan.customSize.height5 "302400"
mfp.scan.customSize.orientation5 "0"
mfp.scan.customSize.concatenation5 "false"
mfp.scan.customSize.width6 "183600"
mfp.scan.customSize.height6 "302400"
mfp.scan.customSize.orientation6 "0"
mfp.scan.customSize.concatenation6 "false"
mfp.fax.send.includeCoverPage "false"
mfp.scan.customSize.name1 ""
mfp.scan.customSize.name2 ""
mfp.scan.customSize.name3 ""
mfp.scan.customSize.name4 ""
mfp.scan.customSize.name5 ""
mfp.scan.customSize.name6 ""
mfp.ui.endSessionPolicy "1"
mfp.fax.send.CoverPageLogo "/var/faxdata/logo"
mfp.fax.send.Color "0"
mfp.copy.allowSaveAsShortcut "true"
mfp.general.numpadJobAssist "false"
mfp.ftp.send.originalBinding "2"
mfp.fax.faxdataStorageLocation "0"
mfp.general.enableAdfLoadedBeep "true"
mfp.copy.verify "false"
mfp.general.showProfiles "false"
mfp.general.showBookmarks "false"
mfp.general.showUSBDrive "true"
mfp.general.showJobsByUser "false"
mfp.general.showCopyShortcut "false"
mfp.general.showEmailShortcut "false"
mfp.general.showFTPShortcut "false"
mfp.general.showFaxShortcut "false"
mfp.copy.topLeftHeaderFooter "4"
mfp.copy.topLeftCustomTxt ""
mfp.copy.topMiddleHeaderFooter "4"
mfp.copy.topMiddleCustomTxt ""
mfp.copy.topRightHeaderFooter "4"
mfp.copy.topRightCustomTxt ""
mfp.copy.bottomLeftHeaderFooter "4"
mfp.copy.bottomLeftCustomTxt ""
mfp.copy.bottomMiddleHeaderFooter "4"
mfp.copy.bottomMiddleCustomTxt ""
mfp.copy.bottomRightHeaderFooter "4"
mfp.copy.bottomRightCustomTxt ""
mfp.general.showCartridgeLevel "false"
mfp.general.colorDropoutRedThreshold "128"
mfp.general.colorDropoutGreenThreshold "128"
mfp.general.colorDropoutBlueThreshold "128"
mfp.ldap.use_logged_in_creds "false"
mfp.fax.send.dialingPrefixRules "=;=;=;=;="
mfp.copy.topLeftHdrFtrPrintOn "0"
mfp.copy.topMiddleHdrFtrPrintOn "0"
mfp.copy.topRightHdrFtrPrintOn "0"
mfp.copy.bottomLeftHdrFtrPrintOn "0"
mfp.copy.bottomMiddleHdrFtrPrintOn "0"
mfp.copy.bottomRightHdrFtrPrintOn "0"
mfp.copy.topLeftBatesNumTxt ""
mfp.copy.topMiddleBatesNumTxt ""
mfp.copy.topRightBatesNumTxt ""
mfp.copy.bottomLeftBatesNumTxt ""
mfp.copy.bottomMiddleBatesNumTxt ""
mfp.copy.bottomRightBatesNumTxt ""
mfp.copy.topLeftBatesNumNumber "1"
mfp.copy.topMiddleBatesNumNumber "1"
mfp.copy.topRightBatesNumNumber "1"
mfp.copy.bottomLeftBatesNumNumber "1"
mfp.copy.bottomMiddleBatesNumNumber "1"
mfp.copy.bottomRightBatesNumNumber "1"
mfp.ldap.ssl.cert.friendly.name ""
mfp.copy.leftHeaderJustify "0"
mfp.copy.middleHeaderJustify "2"
mfp.copy.rightHeaderJustify "1"
mfp.copy.leftFooterJustify "0"
mfp.copy.middleFooterJustify "2"
mfp.copy.rightFooterJustify "1"
mfp.copy.topLeftInitialPageNumber "1"
mfp.copy.topMiddleInitialPageNumber "1"
mfp.copy.topRightInitialPageNumber "1"
mfp.copy.bottomLeftInitialPageNumber "1"
mfp.copy.bottomMiddleInitialPageNumber "1"
mfp.copy.bottomRightInitialPageNumber "1"
mfp.fax.receive.enableInFaxServerMode "false"
mfp.general.showSearchHeldJobs "true"
mfp.general.showFaxJobIcon "true"
mfp.general.showCopyJobIcon "true"
mfp.general.showEmailJobIcon "true"
mfp.general.showFtpJobIcon "true"
mfp.general.showHeldJobsIcon "true"
mfp.networkScan.textjpegQuality "75"
mfp.networkScan.textphotojpegQuality "75"
mfp.ftpScan.textjpegQuality "75"
mfp.ftpScan.textphotojpegQuality "75"
mfp.scanToUsbDrive.textjpegQuality "75"
mfp.scanToUsbDrive.textphotojpegQuality "75"
mfp.scanToDoc.textjpegQuality "75"
mfp.scanToDoc.textphotojpegQuality "75"
mfp.fax.receive.separatorSheets "0"
mfp.fax.receive.separatorSource "1"
mfp.copy.scanBookStartSide "0"
mfp.general.backgroundImageSource "2"
mfp.copy.colorTemperature "0"
mfp.scanToUsbDrive.colorTemperature "0"
mfp.fax.send.colorTemperature "0"
mfp.email.colorTemperature "0"
mfp.ftpScan.colorTemperature "0"
mfp.scanToUsbDrive.colorBalance.red "0"
mfp.scanToUsbDrive.colorBalance.blue "0"
mfp.scanToUsbDrive.colorBalance.green "0"
mfp.fax.send.colorBalance.red "0"
mfp.fax.send.colorBalance.blue "0"
mfp.fax.send.colorBalance.green "0"
mfp.email.colorBalance.red "0"
mfp.email.colorBalance.blue "0"
mfp.email.colorBalance.green "0"
mfp.ftp.colorBalance.red "0"
mfp.ftp.colorBalance.blue "0"
mfp.ftp.colorBalance.green "0"
mfp.scanToDoc.colorBalance.red "0"
mfp.scanToDoc.colorBalance.blue "0"
mfp.scanToDoc.colorBalance.green "0"
mfp.scanToDoc.colorTemperature "0"
mfp.copy.documentSource "0"
mfp.fax.send.documentSource "0"
mfp.networkScan.documentSource "0"
mfp.ftpScan.documentSource "0"
mfp.scanToDoc.documentSource "0"
mfp.scanToUsbDrive.documentSource "0"
mfp.ldap.ads.credentials "false"
mfp.fax.receive.answerOn "0"
mfp.fax.send.useAltFaxCoverPage "false"
mfp.fax.send.altFaxFooter ""
mfp.email.validateCA "true"
mfp.fax.lowPowerSupport "2"
mfp.email.useActiveDirDeviceCred "false"
mfp.scan.customSize.mediaType1 "0"
mfp.scan.customSize.mediaType2 "0"
mfp.scan.customSize.mediaType3 "0"
mfp.scan.customSize.mediaType4 "0"
mfp.scan.customSize.mediaType5 "0"
mfp.scan.customSize.mediaType6 "0"
mfp.fax.receive.footerTime "1"
mfp.networkScan.tiffCompression "5"
mfp.ftpScan.tiffCompression "5"
mfp.scanToUsbDrive.tiffCompression "5"
mfp.fax.enableCallerId "true"
mfp.fax.enableLineConnectedDetection "true"
mfp.fax.enableLineInWrongJackDetection "false"
mfp.fax.enableExtensionInUseSupport "true"
mfp.networkScan.pdfCompression "1"
mfp.ftpScan.pdfCompression "1"
mfp.scanToUsbDrive.pdfCompression "1"
mfp.networkScan.pdfSearchable "0"
mfp.ftpScan.pdfSearchable "0"
mfp.scanToUsbDrive.pdfSearchable "0"
mfp.scanToDoc.pdfSearchable "0"
mfp.networkScan.pdfSecure "0"
mfp.ftpScan.pdfSecure "0"
mfp.scanToUsbDrive.pdfSecure "0"
mfp.scanToDoc.pdfSecure "0"
mfp.ocr.autoRotate "0"
mfp.ocr.despeckle "0"
mfp.ocr.inverseDetection "0"
mfp.ocr.autoContrastEnhance "0"
mfp.ocr.languageEnglish "1"
mfp.ocr.languageFrench "0"
mfp.ocr.languageGerman "0"
mfp.ocr.languageSpanish "0"
mfp.ocr.languageItalian "0"
mfp.ocr.languagePortuguese "0"
mfp.ocr.languageDanish "0"
mfp.ocr.languageDutch "0"
mfp.ocr.languageNorwegian "0"
mfp.ocr.languageSwedish "0"
mfp.ocr.languageFinnish "0"
mfp.ocr.languageHungarian "0"
mfp.ocr.languagePolish "0"
mfp.fax.enableJBIG "true"
mfp.ocr.recognizedLanguages "1"
talkbackSetting "0"
externalJackSetting "0"
externalJackVolume "5"
speechRate "150"
keyNavFocus "1"
mfp.ui.heldjobs.displayType "0"
mfp.general.allowPrintPageCounter "false"
mfp.fax.voipSettings.faxTransport "0"
mfp.fax.voipSettings.voipProtocol "1"
mfp.fax.voipSettings.traceLevel "0"
mfp.fax.voipSettings.stunServer ""
mfp.fax.voipSettings.forceFaxMode "false"
mfp.fax.sipSettings.proxy ""
mfp.fax.sipSettings.outboundProxy ""
mfp.fax.sipSettings.registrar ""
mfp.fax.sipSettings.user ""
mfp.fax.sipSettings.contact ""
mfp.fax.sipSettings.realm ""
mfp.fax.sipSettings.authID ""
mfp.fax.sipSettings.disableIncomingCalls "false"
mfp.fax.sipSettings.sipDialOutDigit "-1"
mfp.fax.h323Settings.gateway ""
mfp.fax.h323Settings.enableFastStart "false"
mfp.fax.h323Settings.disableH245Tunneling "false"
mfp.fax.h323Settings.gatekeeper ""
mfp.fax.h323Settings.user ""
mfp.fax.h323Settings.disableGatekeeperDiscovery "true"
mfp.fax.h323Settings.disableIncomingCalls "false"
mfp.fax.h323Settings.h323DialOutDigit "-1"
mfp.fax.t38Settings.indicatorRedundancy "3"
mfp.fax.t38Settings.lowSpeedRedundancy "3"
mfp.fax.t38Settings.highSpeedRedundancy "1"
mfp.fax.t38Settings.udptlKeepAliveInterval "0"
mfp.pii.configuration "0"
mfp.scan.endianness "0"
mfp.fax.voipSettings.forceFaxModeDelay "0"
mfp.scan.tiffRowsPerStrip "0"
mfp.fax.enableAutoCaptureLogsOnError "true"
mfp.fax.digitalLineGuard "true"
mfp.fax.digitalLineThreshold "130"
mfp.fax.offHookLineSettleTime "500"
mfp.scan.jpegCompressor "0"
mfp.fax.disableSendCRP "false"
les.applications.enableSMBv3 "false"
emailAlerts.list1 ""
emailAlerts.list2 ""
emailAlerts.alertflag1.staplesempty "true"
emailAlerts.alertflag1.staplesmissing "true"
emailAlerts.alertflag1.stapleslow "true"
emailAlerts.alertflag1.loadstaples "true"
emailAlerts.alertflag1.staplejam "true"
emailAlerts.alertflag1.tonerlow "true"
emailAlerts.alertflag1.changecartridge "true"
emailAlerts.alertflag1.defectivecartridge "true"
emailAlerts.alertflag1.unsupportedcartridge "true"
emailAlerts.alertflag1.tonermissing "true"
emailAlerts.alertflag1.calibrationerror "true"
emailAlerts.alertflag1.replacetoner "true"
emailAlerts.alertflag1.scheduledmaintenance "true"
emailAlerts.alertflag1.fusermissing "true"
emailAlerts.alertflag1.fuserlifewarning "true"
emailAlerts.alertflag1.replacefuser "true"
emailAlerts.alertflag1.wastetonernearlyfull "true"
emailAlerts.alertflag1.replacewastetoner "true"
emailAlerts.alertflag1.wastetonermissing "true"
emailAlerts.alertflag1.transferbeltmissing "true"
emailAlerts.alertflag1.transferbeltlifewarning "true"
emailAlerts.alertflag1.replacetransferbelt "true"
emailAlerts.alertflag1.pcunitlifewarning "true"
emailAlerts.alertflag1.replacepcunit "true"
emailAlerts.alertflag1.pcunitmissing "true"
emailAlerts.alertflag1.photodevmissing "true"
emailAlerts.alertflag1.photodevlifewarning "true"
emailAlerts.alertflag1.photodevabnormal "true"
emailAlerts.alertflag1.replacephotodev "true"
emailAlerts.alertflag1.ocrmissing "true"
emailAlerts.alertflag1.replaceocr "true"
emailAlerts.alertflag1.ocrlifewarning "true"
emailAlerts.alertflag1.punchboxmissing "true"
emailAlerts.alertflag1.punchboxfull "true"
emailAlerts.alertflag1.loadmedia "true"
emailAlerts.alertflag1.changemedia "true"
emailAlerts.alertflag1.loadmanualrequests "true"
emailAlerts.alertflag1.2xxpaperjam "true"
emailAlerts.alertflag2.staplesempty "true"
emailAlerts.alertflag2.staplesmissing "true"
emailAlerts.alertflag2.stapleslow "true"
emailAlerts.alertflag2.loadstaples "true"
emailAlerts.alertflag2.staplejam "true"
emailAlerts.alertflag2.tonerlow "true"
emailAlerts.alertflag2.changecartridge "true"
emailAlerts.alertflag2.defectivecartridge "true"
emailAlerts.alertflag2.unsupportedcartridge "true"
emailAlerts.alertflag2.tonermissing "true"
emailAlerts.alertflag2.calibrationerror "true"
emailAlerts.alertflag2.replacetoner "true"
emailAlerts.alertflag2.scheduledmaintenance "true"
emailAlerts.alertflag2.fusermissing "true"
emailAlerts.alertflag2.fuserlifewarning "true"
emailAlerts.alertflag2.replacefuser "true"
emailAlerts.alertflag2.wastetonernearlyfull "true"
emailAlerts.alertflag2.replacewastetoner "true"
emailAlerts.alertflag2.wastetonermissing "true"
emailAlerts.alertflag2.transferbeltmissing "true"
emailAlerts.alertflag2.transferbeltlifewarning "true"
emailAlerts.alertflag2.replacetransferbelt "true"
emailAlerts.alertflag2.pcunitlifewarning "true"
emailAlerts.alertflag2.replacepcunit "true"
emailAlerts.alertflag2.pcunitmissing "true"
emailAlerts.alertflag2.photodevmissing "true"
emailAlerts.alertflag2.photodevlifewarning "true"
emailAlerts.alertflag2.photodevabnormal "true"
emailAlerts.alertflag2.replacephotodev "true"
emailAlerts.alertflag2.ocrmissing "true"
emailAlerts.alertflag2.replaceocr "true"
emailAlerts.alertflag2.ocrlifewarning "true"
emailAlerts.alertflag2.punchboxmissing "true"
emailAlerts.alertflag2.punchboxfull "true"
emailAlerts.alertflag2.loadmedia "true"
emailAlerts.alertflag2.changemedia "true"
emailAlerts.alertflag2.loadmanualrequests "true"
emailAlerts.alertflag2.2xxpaperjam "true"
emailAlerts.alertflag1.insertpcunit "true"
emailAlerts.alertflag2.insertpcunit "true"
emailAlerts.alertflag1.pcunitabnormal "true"
emailAlerts.alertflag2.pcunitabnormal "true"
emailAlerts.alertflag1.outputbinfull "true"
emailAlerts.alertflag2.outputbinfull "true"
emailAlerts.alertflag1.scannerjam "true"
emailAlerts.alertflag2.scannerjam "true"
emailAlerts.alertflag1.invalidcartridge "true"
emailAlerts.alertflag2.invalidcartridge "true"
nvContactName ""
nvContactLocation ""
mfp.scanToUsbDrive.darkness "5"
mfp.scanToUsbDrive.jpegQuality "-1"
mfp.scanToUsbDrive.scanQuality "0"
mfp.scanToUsbDrive.originalOrientation "0"
mfp.scanToUsbDrive.originalSize "4"
mfp.scanToUsbDrive.contentType "1"
mfp.scanToUsbDrive.scanDuplex "0"
mfp.scanToUsbDrive.color "1"
mfp.scanToUsbDrive.fileFormat "2"
mfp.scanToUsbDrive.fileName "Scanned-image"
mfp.scanToUsbDrive.resolution "150"
mfp.Certmon.enabled "false"
mfp.Certmon.immediateFetch "false"
mfp.Certmon.scheduledTime "0"
mfp.Certmon.repeatInterval "2"
mfp.Certmon.logDebug "false"
network.gcp.disable_peer_validation "false"
network.gcp.disable_local_discovery "false"
GCP_ENABLE "true"
GCP_DISPLAY_NAME ""
GCP_DESCRIPTION ""
GCP_PEER_VERIFICATION "true"
GCP_LOCAL_DISCOVERY "true"
GCP_FORCE_PWG_RASTER "false"
imagequick.FontName "36"
imagequick.FontSize "12"
imagequick.Scale "100"
imagequick.Orientation "0"
imagequick.Margin "19"
imagequick.BGImages "227"
imagequick.DirectImageAutoFit "1"
imagequick.DirectImageInvert "0"
imagequick.DirectImageScaling "6"
imagequick.DirectImageOrientation "0"
emulation "4"
powerSaver "15"
print.duplex "0"
alarm.alarmControl "1"
universalPaper.unitMeasure "1"
manualPaper.paperSize "22"
MPTray.paperSize "22"
tray1.paperSize "22"
//ERROR GETTING  tray2.paperSize
//ERROR GETTING  tray3.paperSize
//ERROR GETTING  tray4.paperSize
//ERROR GETTING  tray5.paperSize
mfp.copy.originalSize "4"
mfp.fax.send.originalSize "4"
mfp.networkScan.originalSize "4"
mfp.email.autoComplete ""
mfp.ftpScan.originalSize "4"
mfp.general.mixedSizes "1"
mfp.general.diskEncryption "0"
GENJOBTIMEOUT 90
INTBANNERPAGE FALSE
INTOPTRAFORMSMODE FALSE
INTOPTRAFORMSSTR "\1B%-12345X@PJL ENTER LANGUAGE=POSTSCRIPT\0A\01M%PS\0A(LexForm)run Bs\0A"
INTOPTRAFORMSPOSTSTR ""
ALLOW_DHCP_TO_UPDATE_TIMESERVER TRUE
IPBOOTPENABLE TRUE
LPDTIMEOUT 90
IPFTPENABLE TRUE
LPDAUTOCR FALSE
IPDHCPENABLE TRUE
IPRARPENABLE FALSE
IPWINSADDR "0.0.0.0"
IPDNSSERVERADDR "192.168.200.8"
IPRESTRICT 0 ""
IPRESTRICT 1 ""
IPRESTRICT 2 ""
IPRESTRICT 3 ""
IPRESTRICT 4 ""
IPRESTRICT 5 ""
IPRESTRICT 6 ""
IPRESTRICT 7 ""
IPRESTRICT 8 ""
IPRESTRICT 9 ""
IPRESTRICT 10 ""
IPRESTRICT 11 ""
IPRESTRICT 12 ""
IPRESTRICT 13 ""
IPRESTRICT 14 ""
IPRESTRICT 15 ""
IPRESTRICT 16 ""
IPRESTRICT 17 ""
IPRESTRICT 18 ""
IPRESTRICT 19 ""
IPRESTRICT 20 ""
IPRESTRICT 21 ""
IPRESTRICT 22 ""
IPRESTRICT 23 ""
IPRESTRICT 24 ""
IPRESTRICT 25 ""
IPRESTRICT 26 ""
IPRESTRICT 27 ""
IPRESTRICT 28 ""
IPRESTRICT 29 ""
IPRESTRICT 30 ""
IPRESTRICT 31 ""
IPRESTRICT 32 ""
IPRESTRICT 33 ""
IPRESTRICT 34 ""
IPRESTRICT 35 ""
IPRESTRICT 36 ""
IPRESTRICT 37 ""
IPRESTRICT 38 ""
IPRESTRICT 39 ""
IPRESTRICT 40 ""
IPRESTRICT 41 ""
IPRESTRICT 42 ""
IPRESTRICT 43 ""
IPRESTRICT 44 ""
IPRESTRICT 45 ""
IPRESTRICT 46 ""
IPRESTRICT 47 ""
IPRESTRICT 48 ""
IPRESTRICT 49 ""
IPMTU 1500
IPDEFTTL 254
LPDBANNPAGE FALSE
LPDTRAILPAGE FALSE
IPHTTPENABLE TRUE
IPHTTPCONF TRUE
HTTPSETTING 0 5
HTTPSETTING 1 5
HTTPSETTING 2 5
HTTPSETTING 3 5
HTTPSETTING 4 5
HTTPSETTING 5 5
HTTPLABEL 0 "Utilitários e drivers"
HTTPLABEL 1 "Página inicial da Lexmark"
HTTPLABEL 2 "Suporte técnico"
HTTPLABEL 3 "Pedir suprimentos"
HTTPLABEL 4 "Registro"
HTTPLABEL 5 "Atualizações de firmware"
HTTPLINK 0 "http://www.lexmark.com/MD/?func=drivers&lang=24&prtr=B139050&src=3&creg=0002&ctry=00000416"
HTTPLINK 1 "http://www.lexmark.com/MD/?func=homepage&lang=24&prtr=B139050&src=3&creg=0002&ctry=00000416"
HTTPLINK 2 "http://www.lexmark.com/MD/?func=support&lang=24&prtr=B139050&src=3&creg=0002&ctry=00000416"
HTTPLINK 3 "http://www.lexmark.com/MD/?func=supplies&lang=24&prtr=B139050&src=3&creg=0002&ctry=00000416"
HTTPLINK 4 "http://www.lexmark.com/MD/?func=newreg&lang=24&prtr=B139050&src=3&creg=0002&ctry=00000416"
HTTPLINK 5 "http://www.lexmark.com/MD/?func=firmware&lang=24&prtr=B139050&src=3&creg=0002&ctry=00000416"
SLPBROADCAST TRUE
PPLOCALDOMAIN ""
PPHTTPPROXYADDRESS "0.0.0.0"
PPHTTPDEFAULTPORT 80
PPFTPPROXYADDRESS "0.0.0.0"
PPFTPDEFAULTPORT 21
PPTIMEOUT 30
PPRETRIES 3
PPENABLED TRUE
PPSECSELDEVCERT "default"
DOMAINSEARCH ""
PNPSERVER "0.0.0.0"
IPDOMAIN "cpa.local"
LPDRAW FALSE
MDNSENABLE TRUE
DDNSENABLE TRUE
IPDNSSERVERADDR2 "0.0.0.0"
PPHTTPPROXYADDRESS_STR ""
PPFTPPROXYADDRESS_STR ""
THNPRTPORT 4000
THNPRTPACKETSIZE 0
THNPRTBANDWIDTH 0
THNPRTENABLED TRUE
TRAFFICSHAPING 0
HTTPSSECSELDEVCERT "default"
IPDNSSERVERADDR3 "0.0.0.0"
IPDNSSERVERADDR4 "0.0.0.0"
HTTPSENABLE TRUE
EJMODE1_LINKMON FALSE
EJMODE2_OPT_TAG_60 FALSE
ENABLE_SSL2_WEAKCIPHERS FALSE
DNS_LEASE_TIME_SECONDS 3600
WS_PRINT_ENABLED TRUE
WS_SCAN_ENABLED TRUE
DDNS_REFRESH_TIME_SECONDS 604800
RAW_PRINT_PORT 9100
RESOLVE_WITH_DNS TRUE
RSL_OPTIONS 0
ENABLE_SSL3 FALSE
HOSTNAME_EXTENDED FALSE
WIRELESSRECOVERY FALSE
DHCP_REQUEST_OPTION_ENABLE 0 FALSE
DHCP_REQUEST_OPTION_ENABLE 1 FALSE
DHCP_REQUEST_NULLTERM_ENABLE FALSE
ENABLE_TLS1_0 TRUE
ENABLE_TLS1_1 TRUE
SSL_CIPHER_LIST "ALL:!LOW:!MEDIUM:!EXP:!3DES:!RC4!DES-CBC-SHA"
ATACTIVE FALSE
ATTYPE 0 "LaserWriter"
ATZONE 0 "*"
ATPREFIX 0 ""
ATPOSTFIX 0 ""
ATDATAMODE 0 0
NTPTIMESOURCE 1
NTPCOUNTRYCODE 18
NTPDSTMODE 0
NTPTIMESERVERADDR "192.168.200.55"
NTPDSTNOW 0
NTPBROADCAST FALSE
NTPTIMESERVERNAME "192.168.200.55"
NTPAUTHENABLE FALSE
SNMPV12CENABLED TRUE
SNMPV3ENABLED TRUE
SNMPCOMMUNITY "public"
SNMPSET TRUE
